<html>
    <head>
        {% if title %}
        <title>{{ title }} - Наш сервис</title>
        {% else %}
        <title>Добро пожаловать в наш сервис!</title>
        {% endif %}
    </head>
    <body>
        <div>Наш сервис: <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
